{% extends "templates/layout.njk" %}
{% set page = { title : 'index' } %}

{% block append_head %}
{% endblock %}


{% block content %}
<p>hello</p>
{% endblock %}


{% block append_body %}
{% endblock %}